# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/
.pnpm/
.vscode/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel specific files
Vercel.json
