.JoinPage {
  background-color: #1f2833;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JoinContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JoinContainer > img {
  width: 10vmax;
}

.JoinContainer > h1 {
  color: #66fcf1; /* Soft teal blue */
  font-size: 2.5vmax;
  width: 25vmax;
  border-bottom: 0.2vmax solid #66fcf1;
  text-align: center;
  padding: 1vmax;
  font-family: "Roboto";
  box-sizing: border-box;
}

#joinInput {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  margin: 2vmax;
  box-sizing: border-box;
  background-color: #c5c6c7; /* Muted grey background */
  color: #0b0c10; /* Dark text */
}

.joinbtn {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  color: #0b0c10; /* Dark text */
  font-family: "Roboto";
  outline: none;
  font-size: 1.2vmax;
  background-color: #45a29e; /* Muted cyan */
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: pointer;
}

.joinbtn:hover {
  background-color: #1f6372; /* Slightly darker cyan for hover */
}



/* Responsive Design */
@media (max-width: 768px) {
  .JoinContainer {
    width: 75%;
  }

  .JoinContainer > h1 {
    font-size: 1.8rem;
  }

  #joinInput,
  .joinbtn {
    font-size: 1rem;
    padding: 0.8rem;
  }
}

@media (max-width: 480px) {
  .JoinContainer {
    width: 90%;
  }

  .JoinContainer > h1 {
    font-size: 1.6rem;
  }

  #joinInput,
  .joinbtn {
    font-size: 0.9rem;
    padding: 0.7rem;
  }
}
